body {
    background-color: #1b1b1b; /* Темный фон для всей страницы */
    color: white;             /* Цвет текста по умолчанию — белый */
    margin: 0;                /* Убираем стандартные отступы браузера по краям */
    min-height: 100vh;        /* Растягиваем тело сайта на всю высоту экрана */
    display: flex;            /* Включаем режим Flexbox для выравнивания */
    justify-content: center;  /* Центрируем содержимое по горизонтали */
    align-items: center;      /* Центрируем содержимое по вертикали */
    font-family: sans-serif;  /* Шрифт без засечек (более современный) */
    background-image:url('./images/background.svg') ;
    background-size: 10% 10%;
  }
  
  .container {
    width: 100%;              /* Контейнер может занимать всю ширину... */
    max-width: 400px;         /* ...но не станет шире 400 пикселей */
    padding: 20px;            /* Внутренние отступы, чтобы текст не лип к краям */
    display: flex;            /* Делаем контейнер гибким */
    flex-direction: column;   /* Выстраиваем все элементы внутри в колонку */
    align-items: center;      /* Центрируем элементы (поля и кнопки) внутри колонки */
    background: #181818;
  }
  
  /* Группируем общие стили для полей и кнопки, чтобы сократить код */
  input[type=text], input[type=password], .registerbtn {
    width: 100%;              /* Растягиваем на всю ширину родителя (.container) */
    padding: 15px;            /* Делаем поля высокими и удобными для клика */
    margin-bottom: 15px;      /* Отступ снизу, чтобы поля не слипались */
    border: none;             /* Убираем стандартную рамку браузера */
    background: #282828;      /* Темно-серый фон полей */
    color: white;             /* Цвет текста внутри полей */
    box-sizing: border-box;   /* Чтобы padding не увеличивал общую ширину элемента */
  }
  
  input:focus {
    background-color: #1a1a1a; /* Делаем поле чуть темнее при клике */
    outline: 1px solid #18da7f; /* Добавляем зеленую рамку при наборе текста */
  }
  
  .registerbtn {
    background-color: #14b469; /* Зеленый цвет кнопки */
    cursor: pointer;           /* Курсор превращается в "пальчик" при наведении */
    font-weight: bold;         /* Делаем текст кнопки жирным */
  }
  
  .registerbtn:hover {
    opacity: 0.8;              /* Кнопка слегка бледнеет при наведении (эффект нажатия) */
  }
  
  .signin {
    text-align: center;        /* Центрируем текст "Уже есть аккаунт?" */
    width: 100%;               /* Занимает всю ширину контейнера */
  }
  
  a { 
    color: #14b469;         /* Ярко-голубой цвет для ссылок */
    text-decoration: none;     /* (Опционально) Убирает подчеркивание у ссылок */
  }
  input[type="checkbox"]{
  accent-color: #14b469;
  width: 20px;
  height: 20px;
  }