.container {
    width: 100%;              /* Контейнер может занимать всю ширину... */
    max-width: 800px;         /* ...но не станет шире 400 пикселей */
    padding: 20px;            /* Внутренние отступы, чтобы текст не лип к краям */
    display: flex;            /* Делаем контейнер гибким */
    flex-direction: column;   /* Выстраиваем все элементы внутри в колонку */
    align-items: center;      /* Центрируем элементы (поля и кнопки) внутри колонки */
    background: #181818;
  }
  body {
  background-color: #1b1b1b; /* Темный фон для всей страницы */
    color: white;             /* Цвет текста по умолчанию — белый */
    margin: 0;                /* Убираем стандартные отступы браузера по краям */
    min-height: 100vh;        /* Растягиваем тело сайта на всю высоту экрана */
    display: flex;            /* Включаем режим Flexbox для выравнивания */
    justify-content: center;  /* Центрируем содержимое по горизонтали */
    align-items: center;      /* Центрируем содержимое по вертикали */
    font-family: sans-serif;  /* Шрифт без засечек (более современный) */
    background-image:url('./images/background.svg') ;
    background-size: 10% 10%;
}